.cont {
  width: 100vw;
  height: 100vh;
  background-image: url("./photo/foni.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 420px;
  align-items: center;
  align-content: center;
}
img {
  width: 100px;
  height: 60px;
}
.card {
  width: 65%;
  height: 480px;
  background-color: rgb(92, 96, 96);
  opacity: 0.7;
  border-radius: 25px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.leftdiv {
  width: 47%;
  height: 90%;
  background-color: aliceblue;
  border-radius: 15px;
}
.rightdiv {
  width: 47%;
  height: 90%;
  background-color: rgb(31, 150, 174);
  border-radius: 15px;
  opacity: 0.5;
}
