.cont {
  width: 100vw;
  height: 100vh;
  background-image: url("./photo/foni.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 420px;
  align-items: center;
  align-content: center;
}
img {
  width: 100px;
  height: 60px;
}
.card {
  width: 65%;
  height: 480px;
  background-color: rgb(92, 96, 96);
  opacity: 0.7;
  border-radius: 25px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.leftdiv {
  width: 47%;
  height: 90%;
  background-color: rgb(221, 225, 230);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-content: center;
  opacity: 0.9;
}
.rightdiv {
  width: 47%;
  height: 90%;
  background-color: rgb(31, 150, 174);
  border-radius: 15px;
  opacity: 0.7;
}
label {
  width: 160px;
  height: 25px;
  font-size: 16px;
  margin-left: 55px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #5e7a7d;
}
.input1 {
  width: 80%;
  height: 50px;
  font-size: 25px;
  text-align: right;
  background-color: darkgray;
  border-radius: 5px;
  margin-left: 50px;
  border: none;
  outline: none;
  font-family: "Space Mono", monospace;
}
.input1:hover {
  border: 2px solid #00474b;
}
.inppro {
  width: 118px;
  height: 48px;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #547878;
  border: none;
  outline: none;
  background-color: darkgray;
}
.inppro:hover {
  border: 2px solid #00474b;
}
button {
  width: 118px;
  height: 48px;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #00474b;
  border: none;
}
button:hover {
  background-color: #128288;
}
.procent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-content: center;
}
.procenti1 {
  margin-left: 55px;
  display: flex;
  gap: 26px;
}
.procenti2 {
  margin-left: 55px;
  display: flex;
  gap: 26px;
}
.bill {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.peoplenumber {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rightdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 90px;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 90px;
}
.reset {
  width: 80%;
  height: 48px;
  background-color: #1e2121;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  border-radius: 5px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
}
.reset:hover {
  cursor: pointer;
  background-color: #383f3f;
}
h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  text-align: right;
  letter-spacing: -1px;
  color: #04231f;
}
h1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}
